<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="logo.ico">
    <style>
        .hoverable:hover {
            cursor: pointer;
        }
    </style>
</head>
<body class="p-16"
      style="background-image: url('bg_mask.png'), url('bg.jpg'); background-repeat: repeat, no-repeat repeat">
<div class="container-fluid p-5" id="app">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="card p-1 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-12 input-group mb-3">
                            <input type="text" class="form-control" id="title" v-model="regisForm.title"
                                   placeholder="* Title"
                                   aria-label="Title" required aria-describedby="basic-addon1">
                        </div>

                        <div class="col-sm-6 col-md-12 input-group mb-3">
                            <input type="text" class="form-control" id="description" v-model="regisForm.description"
                                   placeholder="Description" aria-label="Description" aria-describedby="basic-addon1">
                        </div>

                        <div class="col-sm-6 col-md-12 input-group mb-3">
                            <input type="url" class="form-control" id="url" v-model="regisForm.url" placeholder="* URL"
                                   aria-label="URL" required
                                   aria-describedby="basic-addon1">
                        </div>

                        <div class="col-sm-6 col-md-12 input-group mb-3">
                            <input type="url" class="form-control" id="healthCheckUrl"
                                   v-model="regisForm.healthCheckUrl" placeholder="Health Check URL"
                                   aria-label="Health Check URL" required
                                   aria-describedby="basic-addon1">
                        </div>

                        <div class="col-sm-4 col-md-12 input-group mb-3">
                            <select class="form-control" aria-label="Group Id" id="groupId" v-model="regisForm.groupId">
                                <option selected disabled value="0">Please Select Group...</option>
                                <option v-for="(group, index) in groups" :key="index" :value="group.id">{{ group.title
                                    }}
                                </option>
                            </select>
                        </div>

                        <div class="col-sm-2 col-md-12 input-group mb-3 form-check d-flex justify-content-center align-items-center">
                            <div>
                                <input class="form-check-input" type="checkbox" id="linkable" v-model="regisForm.isLink"
                                       style="zoom: 1.25" checked>
                                <label class="form-check-label" for="linkable">
                                    Linkable?
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-12 input-group mb-3">
                            <input type="file" class="form-control btn" id="thumbnail" v-model="regisForm.thumbnail"
                                   placeholder="Thumbnail" aria-label="Thumbnail" aria-describedby="basic-addon1"
                                   @change="readFile($event)">
                        </div>

                        <div class="col-sm-6 col-md-12 input-group mb-3" v-if="thumbnailContent !== null">
                            <img :src="thumbnailContent" class="img img-thumbnail" style="max-width: 200px"/>
                        </div>

                        <div class="col-sm-12 col-md-12 input-group">
                            <button class="btn btn-primary btn-lg btn-block" id="submit-registration" @click="register">
                                <svg style="zoom: 2" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor"
                                     class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-12 d-flex justify-content-end">
                            <a href="export" target="_blank">Export</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-stripped">
                                <thead>
                                <tr style="text-align: center">
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Url</th>
                                    <th>Health Check Url</th>
                                    <th>Thumbnail</th>
                                    <th>Linkable</th>
                                    <th>Enable</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="services.length === 0">
                                    <td colspan="6" class="my-6">
                                        <div class="m-auto w-25" style="color: lightgrey">
                                            <span class="ml-3">Service is Empty</span>
                                        </div>

                                    </td>
                                </tr>
                                <tr v-else v-for="(service, index) in services" :key="index" style="text-align: center">
                                    <td class="hoverable" @dblclick="edit(service, 'title')"><b>{{ service.title }}</b></td>
                                    <td class="hoverable" @dblclick="edit(service, 'description')"><span>{{ service.description }}</span></td>
                                    <td class="hoverable"><span class="text-muted">{{ toGroupName(service) }}</span></td>
                                    <td class="hoverable" @dblclick="edit(service, 'url')"><a :href="service.url"
                                                                    target="_blank">{{service.url}}</a></td>
                                    <td class="hoverable" @dblclick="edit(service, 'healthCheckUrl')"><a :href="service.healthCheckUrl" target="_blank">{{
                                        service.healthCheckUrl ? service.healthCheckUrl : ''}}</a></td>
                                    <td><img style="max-width: 150px" v-if="service.thumbnail != null"
                                             :src="service.thumbnail" class="img img-thumbnail"/></td>
                                    <td>
                                        <input class="form-check-input" type="checkbox" style="zoom: 1.25"
                                               :checked="service.isLink" disabled/>
                                    </td>
                                    <td>
                                        <input class="form-check-input" type="checkbox" style="zoom: 1.25"
                                               :checked="service.isEnable" @change="updateStatus(service.id)"/>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" @click="unregister(service)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script>
    Vue.component('btn', {
        template: '<button class="btn btn-primary">{{ mark }}</button>',
        data: function () {
            return {
                mark: 'HI!'
            }
        }
    })
    let app = new Vue({
        el: '#app',
        data: {
            regisForm: {
                title: null,
                description: null,
                url: null,
                healthCheckUrl: null,
                thumbnail: null,
                isLink: true,
                groupId: 0
            },
            thumbnailContent: null,
            groups: [],
            services: []
        },
        methods: {
            register: function () {

                let isValid = true
                if (this.regisForm.title === null || this.regisForm.title.trim() === '') {
                    alert("Title is required")
                    isValid = false
                }
                if (this.regisForm.url === null || this.regisForm.url.trim() === '') {
                    alert("URL is required")
                    isValid = false
                }
                if (this.regisForm.groupId === 0) {
                    alert("Group ID is required")
                    isValid = false
                }
                if (!isValid) {
                    return;
                }

                let body = {
                    title: this.regisForm.title,
                    description: this.regisForm.description,
                    url: this.regisForm.url,
                    healthCheckUrl: this.regisForm.healthCheckUrl,
                    thumbnail: this.thumbnailContent,
                    isLink: this.regisForm.isLink,
                    groupId: this.regisForm.groupId
                }
                let request = {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(body)
                }
                fetch('/register', request)
                    .then((response) => response.json())
                    .then((response) => {
                        console.log(response)
                        if (response.success === true) {
                            this.services.push(response.additionalData)
                            this.regisForm.title = null
                            this.regisForm.description = null
                            this.regisForm.url = null
                            this.regisForm.healthCheckUrl = null
                            this.regisForm.thumbnail = null
                            this.regisForm.isLink = true
                            this.regisForm.groupId = 0
                        } else {
                            console.error(response)
                        }
                    })
                    .catch(err => console.error(err))
            },
            unregister: function (service) {
                const request = {
                    method: "POST"
                }
                fetch('/unregister/' + service.id, request)
                    .then((response) => response.json())
                    .then((response) => {
                        console.log(response === true)
                        if (response) {
                            this.$set(this.services, this.services.splice(this.services.indexOf(service), 1))
                        } else {
                            console.error(response)
                        }
                    })
                    .catch(err => console.error(err))
            },
            readFile: function (event) {
                new Promise(((resolve, reject) => {
                    let file = event.target.files[0]
                    let reader = new FileReader()
                    reader.onload = (e) => resolve(reader.result)
                    reader.error = reject
                    reader.readAsDataURL(file)
                })).then((result) => {
                    // const delimiterIndex = result.indexOf(',')
                    // const type = result.substr(0, delimiterIndex)
                    // const content = result.substr(delimiterIndex + 1)
                    this.thumbnailContent = result
                })

            },
            updateStatus: function (id) {
                let body = {id: id}
                let request = {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(body)
                }
                fetch('/updateStatus', request)
                    .then((response) => response.json())
                    .then((response) => {
                    })
            },
            toGroupName: function (service) {
                return this.groups.find(function (group) {
                    console.log(group.id)
                    console.log(service.groupId)
                    return group.id - service.groupId === 0
                }).title
            },
            edit: function (service, flag) {
                let newVal = prompt("Enter new value")
                let update = service;
                if (newVal) {
                    switch (flag) {
                        case 'title' :
                            update.title = newVal
                            break
                        case 'description' :
                            update.description = newVal
                            break
                        case 'url' :
                            update.url = newVal
                            break
                        case 'healthCheckUrl' :
                            update.healthCheckUrl = newVal
                            break
                    }
                    fetch('/update', {
                        method: 'POST',
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify(update)
                    })
                        .then((response) => response.json())
                        .then((response) => {
                            if (!response.success) {
                                service = update
                            }
                        })
                    .catch((err) => {
                        console.log(err)
                    })
                }
            }
        },
        computed: {},
        mounted: function () {
            fetch('/services')
                .then((response) => response.json())
                .then((response) => {
                    if (response.success === true) {
                        this.services = response.additionalData
                    }
                })
                .catch(err => console.error(err))
            fetch('/groups')
                .then((response) => response.json())
                .then((response) => {
                    if (response.success === true) {
                        for (let i = 0; i < response.additionalData.length; i++) {
                            this.groups.push(response.additionalData[i])
                        }
                    }
                })
                .catch(err => console.error(err))
        }
    })

    function imageLoadCallback(result) {

    }
</script>
</body>
</html>